<!DOCTYPE html>
<html>
<head>
    <title>Sitio de prueba</title>
</head>
<body>
    <h1>Página de prueba</h1>
    <p>Texto normal solo para que se vea</p>
    <!-- primer_nombre viene del archivo de Python -->
    <p>Mi nombre es {{ primer_nombre }}.</p>
    <!-- sin el filtro safe, muestra el HTML como texto normal -->
    <p>{{ textoConHTML|safe }}</p>

    <h3>Pizzas favoritas:</h3>
    <!-- ciclo foreach para procesar el arreglo -->
    {% for p in pizza %}
        <!-- condición para ver si es el elemento que tiene un número-->
        {% if p == 1200 %}
            {{ p + 100 }} <br/>
        {% else %}
            {{ p }}<br/>
        {% endif %}
    {% endfor %}

    <br/>Segunda pizza de la lista (en la posición 1)<br/>
    {{ pizza.1 }} y ahora al revés {{ pizza.1|reverse }}
</body>
</html>